@charset "utf-8";
/* CSS Document */

@keyframes zoom-in
	{
		0%{
			transform: scale(100%);
			box-shadow: 0;
		}
		100%{
			transform: scale(90%);
			box-shadow: 0px 7px 21px -6px rgba(28,25,25,0.77);
-webkit-box-shadow: 0px 7px 21px -6px rgba(28,25,25,0.77);
-moz-box-shadow: 0px 7px 21px -6px rgba(28,25,25,0.77);
		}
	}
@keyframes banner{
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}
@keyframes topin{
	0% {
		position: relative;
		top:-100vh;
		z-index: -100;
	}
	100%{
		position: relative;
		top:0;
		z-index: 20;
	}
}
@keyframes scaleout{
	0%{
		transform: scale(0, 0);
	}
	50%{
		transform: scale(.025, 1);
	}
}
@keyframes rightin{
	0%{
		position: relative;
		right: -100vw;
	}
	100%{
		position: relative;
		right: 0;
	}
}
@keyframes botin{
	0%{
		position: relative;
		top: 100vh;
		opacity: 0;
	}
	100%{
		position: relative;
		top: 0;
		opacity: 1;
	}
}
@keyframes leftin{
	0%{
		position: relative;
		left: -100vw;
	}
	100%{
		position: relative;
		left: 0;
	}
}



